@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');

:root{
  background-color: rgb(39, 44, 54);
  font-family: "Source Code Pro", monospace;
  color: orange;
}


